body{
    background-image: url("https://images.unsplash.com/photo-1521587760476-6c12a4b040da?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bGlicmFyeXxlbnwwfHwwfHx8MA%3D%3D");
    background-color: whitesmoke;
}
.header {
    text-align: center;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    font-size: 4rem;
    margin-top: 5%;
}
#shelf-container {
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    padding: 1.5rem;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 1.2rem;
}
.Shelf-class {
    flex: 1;
    background-color: aliceblue;
    padding: 1rem;
    border-radius: 20px;
    margin-top: 5%;
}
.book-display {
    flex: 2;
    margin-left: 10%;
    display: flex;
    padding: 1rem;
    justify-content:space-between;
    flex-wrap: wrap;
}