body{
    background-image: url("https://images.unsplash.com/photo-1521587760476-6c12a4b040da?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bGlicmFyeXxlbnwwfHwwfHx8MA%3D%3D");
    background-color: whitesmoke;
}
#shelf-container,
.Shelf-class {
    flex: 1;
    background-color: aliceblue;
    padding: 1rem;
    border-radius: 20px;
    margin-top: 8%;
}
.book-display {
    flex: 2;
}